main {
  background-color: #F0EFEB;
  font-family: "Inter", serif;
  width: 45em;
  height: 11.25em;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

}

.add-ingredient-form {
  display: flex;
  justify-content: center;
  gap: 2.078125em;
  align-items: center;
}

.add-ingredient-form > input {
  border-radius: 0.4285em;
  border: 0.0714em solid #D1D5DB;
  padding: 0.6428em 0.9285em;
  box-shadow: 0 0.0714em 0.1428em 0 rgba(0, 0, 0, 0.05);
  flex-grow: 1;
  min-width: 24.9375em;
  height: 2.375em;
  color: #6B7280;
  font-size: 0.875rem;
  font-family: inherit;
}

.add-ingredient-form > button {
  height: 2.375em;
  min-width: 11.4375em;
  background-color: #141413;
  color: #FAFAF8;
  border-radius: 0.4285em;
  font-family: inherit;
  font-size: 0.875rem;
  border: none;
}

ul {
  width: 37.125em;
}